
        .row.bg-white.has-shadow.one {
    margin-bottom: 22px;
    margin-left: 0;
    margin-right: 0;
}
          span.badge.badge-warning {
    padding: 8px 8px;
}

span.badge.badge-secondary.px-2 {
    padding: 7px 7px;
    font-size: 13px;
}
          .container.fluid {
    padding-top: 35px;
}
          .table thead th.sorting_asc {
        vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 11px 13px;
    background-color: #eef5f9;
    color: #575454;
    font-size: 12px;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 16px 27px;
    background-color: #d72228;
    color: white;
}
span.badge.badge-warning {
    color: white !important;
    font-size: 13px !important;
    background: #f94848 !important;
}
        
header.page-header {
    padding: 20px 38px;
    margin: 0px 33px;
}
          .page-titles {
    padding: 0.9375rem 1.875rem;
    background: #F3F3F9;
    transition: all .2s ease;
}
.page-titles .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background: transparent;
    font-size: 0.875rem;
    float: right;
}
.page-titles .breadcrumb li {
    margin-top: 0;
    margin-bottom: 0;
}
.page-titles .breadcrumb li.active {
    color: #555555;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}





          ul.pagination {
    display: flex;
    justify-content: flex-end;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fd3b2f;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
          .table td, .table th {
    padding: 10px 27px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
        